<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/dist/output.css" rel="stylesheet">      

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
  <%- include('_nav.ejs'); %>
    <div class="relative min-h-screen flex bg-themecolors-purple">
      <div class="dark:bg-gray-800 w-2/12 min-h-screen" >
        <%- include('_sidebar.ejs'); %>
      </div>
      <div class="p-2 w-10/12">
        <div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">
        <% data.forEach(data => { %>
          <div class="bg-themecolors-darkred rounded-b-2xl mb-8"> 
              <div class="text-center">
                <div class="p-4">
                  <img class="rounded-b-2xl" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2<%= data.poster_path %>" alt="<%= data.title %>"> 
                </div>
                <a href=/movies/<%= data.id %>> <%= data.title %> </a>
                <div class="flex pt-1 pb-4 justify-center">
                  <p> <i class="fa-solid fa-signal"></i> <%= data.vote_average %> Puan</p>
                  <p class="pl-6"> <i class="fa-solid fa-star" ></i> <%= data.vote_count %> Oy Sayısı</p>
              </div>
            </div>

          </div>
          <% }) %>
        </div>
      </div>
    </div>

</body>



</html>