<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
  <%- include('_nav.ejs'); %>
    <div class="relative min-h-screen flex bg-teal-900">
      <div class="bg-teal-500 w-96">
        <!-- sidebar -->
      </div>
      <div class="p-2">
        <div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">
        <% data.results.forEach(data => { %>
          <div class="bg-teal-700 rounded-b-2xl mb-8"> 
              <div class="text-center">
                <div class="p-4">
                  <img class="rounded-b-2xl" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2<%= data.poster_path %>" alt="<%= data.title %>"> 
                </div>
                <a href=/movies/<%= data.id %>> <%= data.title %> </a>
                <div class="flex pt-1 pb-4 justify-center">
                  <p> <i class="fa-solid fa-signal"></i> <%= data.vote_average %> Puan</p>
                  <p class="pl-6"> <i class="fa-solid fa-star" ></i> <%= data.vote_count %> Oy Sayısı</p>
              </div>
            </div>

          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>



</html>